body {
	padding: 0;
	margin: 0;
}
.primary-navbar {
	background: #1a4260;
	width: 100%;
	border-bottom: 1px solid #ffffff69;

	.first-navbar {
		display: flex;
		line-height: 25px;
		justify-content: space-between;

		div {
			padding: 0px 15px;
			color: #fff;
			font-size: 14px;
		}
	}
}
.secondary-navbar {
	background: #0a5b86;
	position: sticky;
	top: -1px;
	z-index: 9;
	box-shadow: 0px 5px 10px #0606065c;
	.logo {
		padding-right: 60px;
		font-size: 30px;
		font-weight: bolder;
		overflow: hidden;
		color: #0076ce;
		line-height: 70px;
		img {
			height: 60px;
		}
	}
	.second-navbar {
		line-height: 80px;
		font-size: 16px;
		display: flex;
		justify-content: space-between;

		ul {
			display: flex;
			justify-content: space-between;
			margin: 0;
			padding: 0;
			list-style: none;
			li {
				padding: 0px 10px;
				a {
					color: #fff;
					padding: 0px 15px;
					line-height: 50px;
				}
				a.active,
				a:hover {
					background: white;
					display: inline-block;
					color: #0076ce;
				}
			}
		}
	}
}

.banner {
	display: flex;
	justify-content: center;
	background-size: contain;
	flex-direction: column;
	align-items: center;
	height: calc(100vh - 100px);
	position: relative;
	&::after {
		content: "";
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		z-index: 0;
		right: 0;
		background: #10101073;
	}
	.banner-title {
		font-size: 50px;
		font-weight: bold;
		z-index: 1;
		margin-bottom: 15px;
		color: #ffffff;
		text-shadow: 0px 2px 10px #050505;
	}
	.subtitle {
		font-size: 18px;
		color: white;
		width: 70%;
		text-align: center;
		z-index: 1;
		margin-bottom: 30px;
	}
	.learn-more {
		z-index: 1;

		a {
			padding: 10px 30px;
			border-radius: 30px;
			display: inline-block;
			text-align: center;
			margin: 0px 10px;
			color: #ffff;
			font-weight: bold;
			text-decoration: none;
			background: #0076ce;
			border: 2px solid #fdfdfd;

			&:hover {
				border: 2px solid #0076ce;
			}
		}
	}
}
.trending-category {
	background: #efefef;
	ul {
		display: flex;
		list-style: none;
		justify-content: space-around;
		margin: 0 auto;
		li {
			text-align: center;
			color: white;
			margin: 10px;
			border-radius: 10px;
			padding: 15px;
			color: #ffffff;
			display: block;
			min-width: 120px;
			background: #085e9f;
			&:hover {
				background: #ff5722;
				text-decoration: none;
			}
			span {
				font-size: 40px;
				font-weight: bold;
			}
		}
	}
}
.main-title {
	font-size: 36px;
	font-weight: bold;
	text-align: center;
	position: relative;
	color: #616363;
	span {
		color: #0076ce;
	}
	&::after {
		position: absolute;
		content: "";
		bottom: 0;
		right: calc(50% + 30px);
		width: 80px;
		border-bottom: 2px solid #0076ce;
	}
}

// services
.services {
	padding: 60px 0px 60px 0px;
	.services-wrapper {
		.service-item {
			padding: 15px;
			margin: 30px 30px 0px 30px;
			.service-img {
				padding: 0px 30px;
			}
			.service-title {
				font-size: 20px;
				font-weight: bold;
				text-align: center;
				padding-bottom: 15px;
			}
			&:hover {
				box-shadow: 0px 2px 10px gray;
			}
		}
	}
}

// need a repair
.need-repair {
	background: #0a5b86;
	position: relative;
	margin: 30px auto;
	img {
		height: 320px;
	}
	.need-repair-wrapper {
		display: flex;
		justify-content: center;
		flex-direction: column;
		padding: 60px 0px;
		color: white;
		.title {
			font-size: 36px;
			font-weight: bold;
			color: white;
		}
	}
	.mobile {
		position: absolute;
		top: -15%;
		bottom: 0;
		text-align: center;
		img {
			height: 120%;
		}
		.inquery-form {
			position: absolute;
			top: 10%;
			bottom: 0;
			width: 80%;
			left: 10%;
			text-align: left;
			.form-group {
				margin-bottom: 5px;
			}
			.form-control {
				height: 35px;
			}
			.submit-btn {
				text-align: center;
				button {
					border: none;
					background: #0a5b86;
					padding: 5px 15px;
					color: #fefefe;
					font-size: 14px;
					margin-top: 30px;
					font-weight: bold;
					border-radius: 5px;
				}
			}
		}
	}
}

// why
.why {
	padding: 90px 0px;
	.why-wrapper {
		margin-top: 30px;
		.why-item {
			margin-top: 30px;
			.why-img {
				padding: 0px 30px;
			}
			.why-title {
				font-size: 18px;
				font-weight: bold;
				text-align: center;
				padding-bottom: 15px;
			}
		}
	}
}

// testimonial section

.testimonial {
	background: url("../images/testimonial-banner.jpg") no-repeat;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	z-index: 0;
	padding: 60px 0px;
	.testimonial-title {
		font-size: 36px;
		font-weight: bold;
		text-align: center;
		color: #fff;
	}
	&::after {
		content: "";
		position: absolute;
		top: 0;
		bottom: 0;
		z-index: -1;
		right: 0;
		left: 0;
		background: #0000008c;
	}
	.testimonial-item {
		text-align: center;
		padding-top: 30px;
		.photo {
			height: 150px;
			width: 150px;
			border-radius: 50%;
			overflow: hidden;
			margin: 0 auto;
		}
		.speech {
			width: 60%;
			margin: 15px auto;
			color: white;
		}
		.name {
			font-size: 30px;
			font-weight: bold;
			color: white;
		}
	}
}

// publication
.publication {
	padding: 60px 0px;
	.item-wrap {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		padding: 60px 0px;
		position: relative;
		position: 0;
		color: white;
		.name {
			font-size: 14px;
			z-index: 1;
		}
		.title {
			font-size: 36px;
			font-weight: bold;
			z-index: 1;
			padding-bottom: 15px;
		}
		.learn-more {
			font-size: 18px;
			font-weight: lighter;
			z-index: 1;
			a {
				color: white;
				&:hover {
					color: #0076ce;
				}
			}
		}
		&::after {
			content: "";
			position: absolute;
			top: 0;
			bottom: 0;
			z-index: 0;
			right: 0;
			left: 0;
			background: #00000052;
		}
	}
	.item-wrap:hover {
		&::after {
			background: #0000008c;
		}
	}
}

// footer
footer {
	padding-top: 60px;
	background: #353535;
	color: #a7a7a7;
	a {
		color: #e6e4e4;
	}

	.title {
		font-size: 18px;
		font-weight: bold;
		margin-bottom: 15px;
		color: #fff;
		display: inline-block;
		border-bottom: 2px solid #adadad;
	}
	p {
		font-size: 14px;
		text-align: justify;
	}
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		li {
			line-height: 30px;
			.social-links {
				font-size: 26px;
				a {
					padding-right: 15px;
				}
			}
		}
	}
	.bottom-footer {
		margin-top: 30px;
		display: flex;
		justify-content: space-around;
		padding: 15px 0px;
		background: #0000006b;
	}
}
